{% extends 'base.html.twig' %}

{% block title %}Edit Genre{% endblock %}

{% block body %}
    <h1>Edit Genre</h1>

    {{ include('genre/_form.html.twig', {'button_label': 'Update'}) }}
    <hr>
    <a class="btn btn-secondary" role="button" href="{{ path('genres') }}">back to list</a>

    {{ include('genre/_delete_form.html.twig') }}
{% endblock %}
