<form method="get" action="{{ path(app.request.attributes.get('_route')) }}/{{ app.request.get('page') }}/" class="form-inline my-2 my-lg-0 mr-3" id="filter_form">
    <input minlength="3" value="{{ filter }}" id="filter_nav" class="form-control mr-sm-2" type="search" placeholder="Filter list" aria-label="Filter">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Filter</button>
</form>
